<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">The Waiting list</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr>
    <div class="modal-body modBody">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidate of waitingList; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td scope="row">{{candidate.firstName}}</td>
                    <td scope="row">{{candidate.lastName}}</td>
                    <td scope="row">{{candidate.email}}</td>
                    <td scope="row">{{candidate.phoneNumber}}</td>
                    <td scope="row">{{candidate.score.finalScore}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="closeModal()">Close</button>
        <button type="button" class="btn" (click)="moveToNextSession()">Move to Next Session</button>
        <button type="button" class="btn" (click)="exportPDF()"><i class="fa fa-download"></i> Download PDF</button>
    </div>
</div>