<div class="loader">
    <div class="divimg" style="align-items: center; flex-direction: column;">
        <img style="width: 140px;"
            src="https://www.nttdata.com/global/en/-/media/nttdataglobal/1_images/about-us/logo/nttdata.png?la=en&hash=FE7458DA18013F2E4BBBD914EA1509287825AA67">
        <h4 class="text-dark fw-bolder">NTT DATA Train</h4>
    </div>
    <div class="my-4">
        <h5 class="m-auto text-dark">Loading page</h5>
    </div>
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>