<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-image: linear-gradient(to right,#6785C1,#324466);">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
                <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"> </span>
                    <span class="navbar-toggler-bar bar2"> </span>
                    <span class="navbar-toggler-bar bar3"> </span>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)"> Home / {{ getTitle() }} </a>
        </div>
        <button aria-label="Toggle navigation" class="navbar-toggler" (click)="collapse()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" id="navigation" type="button">
            <span class="navbar-toggler-bar navbar-kebab"> </span>
            <span class="navbar-toggler-bar navbar-kebab"> </span>
            <span class="navbar-toggler-bar navbar-kebab"> </span>
        </button>
        <div class="navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
            <ul class="navbar-nav ml-auto" style="align-items: center;">
                <li (click)="changeDarkMode()">
                    <svg *ngIf="isDarkMode" class="dark-mode-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
                    </svg>
                    <svg *ngIf="!isDarkMode" class="dark-mode-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" clip-rule="evenodd" />
                    </svg>                      
                </li>
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                        <div class="photo">
                            <img alt="Profile Photo" src="assets/img/default-avatar.png" />
                        </div>
                        <b class="caret d-none d-lg-block d-xl-block"> </b>
                        <p class="d-lg-none">Log out</p>
                    </a>
                    <ul class="dropdown-navbar" ngbDropdownMenu>
                        <li class="nav-link">
                            <a class="nav-item" routerLink="/beca/user" ngbDropdownItem>
                                <i class="fas fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-link">
                            <button class="nav-item" (click)="logout()" ngbDropdownItem>
                                <i class="fas fa-sign-out-alt"></i>
                                Log out
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="separator d-lg-none"></li>
            </ul>
        </div>
    </div>
</nav>